@import "../variables";

.hero_section {
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  .info {
    margin-top: 15rem;
    margin-left: 10vw;
    width: 40rem;
    .title {
      font-family: 'BlenderPro';
      letter-spacing: 1rem;
      color: white;
      padding: 5vh 0;
      font-size: 8vw;
      text-transform: uppercase;
    }
    .desc {
      line-height: 2rem;
      padding-bottom: 5vh;
    }
    .enter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 0;
      border-left: 8px solid $accent;
      padding: 0 2rem;
      width: 15rem;
      height: 3rem;
      color: $bgColor;
      background-color: white;
      font-size: 1rem;
      text-align: left;
      text-transform: uppercase;
      background: linear-gradient(to right, $accent 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.4s ease-out;
      .line {
        width: 0rem;
        height: 0px;
        transition: all 0.4s ease-out;
      }
      &:hover {
        background-position: left bottom;
        .line {
          margin: 0 1rem;
          width: 2rem;
          border: 1px solid black;
        }
      }
    }
  }
}
